<!DOCTYPE html>
<html lang="en" class="has-background-primary-light">
  <head>
    <title>Profile | Ciao!</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
      <style>
        @media print {
          .no-print {
            visibility: hidden;
          }
        }
      </style>
  </head>
  <body class="has-text-light is-family-monospace container">
    <div class="no-print">
      <%- include('header'); -%>
    </div>
    <main class="container">
      <div class="grid">
        <div>
          <section class="section container">
            <div class="box columns is-vcentered">
                <div class="column is-two-fifths image">
                  <%- user.qrcode %>
                </div>
                <div class="column">
                  <p>
                    <span class="title"><%= user.name %></span>
                    is on <i>Ciao!</i>
                  </p>
                  <p class="subtitle"><br /><%= user.username %></p>
                  <button onclick="window.print()" class="button is-primary no-print">
                    Print your badge
                  </button>
              </div>
            </div>
            <aside class="box menu is-primary no-print">
              <p class="menu-label is-primary">Friends</p>
              <ul class="menu-list is-primary">
                <% if (typeof user.friends !== 'undefined')
                  user.friends.forEach((friend) => { %>
                    <li class="is-primary"><a href='mailto:<%= friend.email %>'><%= friend.name %></a></li>
                  <% }); %>
              </ul>
            </aside>
          </section>
        </div>
      </div>
    </main>
  </body>
</html>
